

* {
  padding: 0;
  margin: 0;
  
  
}
/*modifaciones titulo*/


header nav {
  
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  background-color: hsl(218, 28%, 13%);
  height: 20%;
}

header nav #logo {
  background-color: hsl(218, 28%, 13%);black;
  width: 50%;
  
}

header nav #logo img {
  text-align: center;
  /*antonio*/
  height: 50%;
  width: 50%;
  margin-top: 15%;
  margin-left: 15%;
  
}

header nav #links {
  width: 80%; /*antonio valor 50%*/
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

header nav #links a {
  text-decoration: none;
  color: white;

  
  /*antonio*/
  font-size: 75%;
  margin-bottom: 5%;
  margin-right: 7.5%;
  
}

main {
  height: 60%;
}
/*body*/

body{

  min-width: 375px;
  min-height: 750px;
  max-height: none;
  background-color: hsl(217, 28%, 15%);
  font-family: 'Open Sans', sans-serif;
  color: white;
}
p{
  line-height: 1.5;
}
/* contenedor*/
#contenedor-padre{
  
  display: flex;
  flex-flow: column;
  justify-content: space-evenly;
  margin-top: 10%;
 
}

    /*inicio de div started*/

   .illustration{
     
     align-self: center;
     height: 60%;
     width: 60%;
     margin top: 5%;
     

   }
   #started{

        display: inline-block;
        align-self: center;
        align-items: center;
        height: 100%;
        width: 100%;
        margin-top: 10%;
        background-image: url(../images/bg-curvy-mobile.svg);
        background-repeat: no-repeat;
        background-position: top 120%;
        
   }
   #todos-documentos{
     height: 70%;
     width: 75%;
     margin-left: 15%;
     text-align: center;
     font-size: 75%;
    

   }
        
     
  /*fin de div started*/
  
  /*incio de div beneficios*/

    #beneficios{

        display: flex;
        flex-direction: row;
        align-items: baseline;
        flex-wrap: wrap;
       justify-content: center;
      }
      .beneficio-1, .beneficio-2, .beneficio-3, .beneficio-4{
        margin-top: 30%;
        margin-bottom: 10%;
        height: 20%;
        width: 20%;

      }
      
     #access, #security, #real-time, #store{

        min-width: 370px;
        border: 2px solid hsl(217, 28%, 15%);
        height: 50%;
        width: 80%;
        flex-direction: row;
        background-color: hsl(217, 28%, 15%);
        max-width: 720px;
        flex-wrap: wrap;
        text-align: center;
        font-size: 75%;
        

      }

 /*fin de div beneficios*/    
 /*inicio de div productive*/

 
  #productive{
    min-width: 370px;
    display: flex;
    flex-direction: row;
    align-items: baseline;
    flex-wrap: wrap;
   justify-content: center;
   margin-top: 30%;
  
   
       }

  #image-productive{
    display: flex;
   
  }
  .imagen-productive{
    display: flex;
    height: 85%;
    width: 85%;
    margin-left: 10%;

  }
  #stay-productive{
    height: 75%;
    width: 80%;
    display: inline-block; 
    border: none;
    text-align: left;
    margin-top: 15%;
    margin-left: 5%;
    margin-bottom: 25%;
  
  }
   
  .fylo{
    text-decoration: underline;
    color: #33FFE5;
    
  }
  
  /* fin div productive*/
  /* inicio div comentarios*/
  #comentarios{
      
      min-width: 370px;
      width: 90%;
      display: flex;
      flex-direction: row;

      
      }

  .comentario{
    
    display:flex;
    position: relative;
    height: 10%;
    width: 10%;
  
   
    
    

  }

  #perfil-1, #perfil-2, #perfil-3{
      min-width: 370px;
      display:inline-block;
      flex-direction: column;
      justify-content: flex-end;
      padding: 2%;
      margin-left: 5%;
      margin-left: 2%;
      margin-bottom: 10%;
      border: 1%;
      border-radius: 5%;
      background: hsl(219, 30%, 18%);
      text-align: left;
  

   }
   .perfil-1, .perfil-2, .perfil-3{
     
      height: 20%;
      width: 20%;
      border-radius: 50%;

  



   }



  /* fin div comentarios*/
 
/*fin de contenedor*/

  
 #promocion{


    display:inline-block;
    height: 85%;
    width: 80%;
    margin-left: 10%;
    margin-bottom: -20%;
    border: 1%;
    border-radius: 5%;
    background: hsl(219, 30%, 18%);
    position: relative;
    font-size: 65%;
    line-height: 2;
    text-align: center;

  }

  
 .getstarted{
    
   display: inline-block;
   height: 25%;
   width: 60%;
   background: linear-gradient(to right,#33FFE5,#33CFFF);
   color: white;
   size: 20%;
   border-radius: 10px;
   border: none;
   margin: 2.5%;
   font-size: 125%;
   text-decoration: none;
  
  }
 
  input{
    height: 15%;
    width: 60%;
    border-radius: 10px;
    text-align: center;
  }

/*fin de boddy*/

 nav {
   display: flex;
   flex-direction: column;
 
 }

 .logo2{
   margin-top: 40%;
  margin-right: 20%;
   margin-bottom: 20%;
 }
 #adress{
   display: flex;
   width: 80%;
 }
 
 #contact {
   margin-left: 15%;
 
 }
 #menu1, #menu2, {

 }
 #social{
   margin-left: 42.5%;
   margin-bottom: 10%;

 }
/*traslapar la imagen*/
/*acoplar*/
#pie-pagina{
  display: flex;
  flex-flow: column;
  margin-left: 10%;
  align-items: left;
}
/**/
footer nav {

  background-color:hsl(216, 53%, 9%);
  height: 20%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
         
}

footer nav #address {
  background-color: hsl(216, 53%, 9%);
  width: 35%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 5px;
  padding: 5px;
  /*modificacion*/
  width: 80%;
}

footer nav #address div#logo2 {
  text-align: center;
}

footer nav #address div#address2 {
  background-color: hsl(216, 53%, 9%);
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  color: white;
  /*antonio*/

}

footer nav #address div#address2 img {
  height: 25px;
  
}

footer nav #contact {
  background-color: hsl(216, 53%, 9%);
  width: 17%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

footer nav #contact div {
  color: white;
}

footer nav #menu1 {
  
  width: 17%;
  background-color: hsl(216, 53%, 9%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 5px;
}

footer nav #menu1 a {
  color: white;
  text-decoration: none;
  margin: 3px;
}

footer nav #menu2 {
  background-color: hsl(216, 53%, 9%);
  width: 17%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 5px;
}

footer nav #menu2 a {
  color: white;
  text-decoration: none;
  margin: 3px;
}

footer nav #social {
  background-color: hsl(216, 53%, 9%);
  width: 15%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer nav #social div img {
 

  width: 40px;
  height: 40px;
  
}
/*# sourceMappingURL=style.css.map */


    

/*para pc*/  
@media screen and (max-width: 1440px) {

/*body*/  
body{

  max-width: 1400px;
  background-color: hsl(217, 28%, 15%);
  font-family: 'Open Sans', sans-serif;
  color: white;

}

#contenedor-padre{
  display: flex;
  background-color: hsl(218, 28%, 13%);
  
  }
  .illustration{
  align-self: center;
  height: 50%;
  width: 50%;
  
  }
  #started{

    font-size: 150%;
    background-image: url(../images/bg-curvy-desktop.svg);
    background-repeat: no-repeat;
    background-position: bottom;
    
  }
  /*inicio de beneficios*/
  #beneficios{

    display: flex;
    flex-direction: row;
    background-color: hsl(217, 28%, 15%);

  }
  .beneficio-1, .beneficio-2, .beneficio-3, .beneficio-4{

    height: 25%;
    width: 25%;

  }
  
 #access, #security, #real-time, #store{
  

    display: inline-block;
    flex-wrap: wrap;
    align-items: baseline;
    height: 40%;
    width: 40%;
    font-size: 130%;

  }
  /*fin de beneficios*/
  /*inicio de productive*/
  #productive{
 
   
    display: flex;
    align-items: center;
  

       }

  #image-productive{
    display: flex;
    width: 90%;
   
  }
  .imagen-productive{
    display: inline-block;
    height: 85%;
    width: 85%;
 

  }
  #stay-productive{
    height: 75%;
    width: 30%;
    display: inline-block; 
    border: none;
    text-align: left;
  }
   
  .fylo{
    text-decoration: underline;
    color: #33FFE5;
    
  }
  /*fin de productive*/
  #comentarios{
    max-width: 1400px;
    width: 90%;
    display: flex;
    flex-direction: row;

    }
/*
.comentario{
  max-width: 1400px;
  display:flex;
  position: relative;
  height: 5%;
  width: 5%;
  margin-left: 7.5%;
  margin-bottom: -5%;

}

#perfil-1, #perfil-2, #perfil-3{
  
    max-width: 1400px;
    display:inline-block;
    height: 25%;
    width: 15%;
    border: 1%;
    border-radius: 5%;
    background: hsl(219, 30%, 18%);
    font-size: 90%;
    text-align: left;


 }
 .perfil-1, .perfil-2, .perfil-3{
   display: inline-block;
   align-self: ;
   width: 15%;
   height: 15%;
   border-radius: 50%;

 }

 #comentario-perfil-1,#comentario-perfil-2, #comentario-perfil-3{
   display: inline-block;
   
   
 }


  /*
  #beneficios{
  display: flex;
  flex-flow: row;
  }
  
  #pie-pagina{
  display: flex;
  flex-flow: row;
  margin-left: 10%;
  align-items: left;
  }
  #beneficios{
  
  display: flex;
  flex-direction: row;
  align-items: baseline;
  flex-wrap: wrap;
  justify-content: center;
  }
  .beneficio-1, .beneficio-2, .beneficio-3, .beneficio-4{
  margin-top: 30%;
  margin-bottom: 10%;
  height: 20%;
  width: 20%;
  
  }
  */

/*body*/
}


