* {
  padding: 0;
  margin: 0;
}

header nav {
  
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  background-color: black;
  height: 20%;
}

header nav #logo {
  background-color: black;
  width: 50%;
}

header nav #logo img {
  text-align: center;
}

header nav #links {
  width: 50%;
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

header nav #links a {
  text-decoration: none;
  color: white;
  margin: 0 1.5%;
}

main {
  height: 60%;
}
/* complemento de body*/
body{
  /*width: 375px;*/
  height: none;
  background-color: hsl(217, 28%, 15%);
  Family: Open Sans;
  color: white;
  align-items: center;

 .contenedor{
  height: 50%;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  

  .started{
    align-items: center;
    display: flex;
    align-items: center;
   }
  
  .beneficios{
        display: flex;
       justify-content: center;
     
      .access{
        order: 2; 
        border: 2px solid white;
        display: flex;
        height: 25%;
        width: 25%;
       }
      .secutiry{
        order: 2;
        display: flex;
       height: 25%;
       width: 25%;
      }
      .real-time{
  
        height: 25%;
        width: 25%;
      }
    
       .store{
  
  display: flex;
  height: 25%;
  width: 25%;
        }
        }
 
  .productive{
  display: flex;
  

       }
  .comentarios{
       display: flex;
       flex-direction: row;
      .satish{
  border: 10px solid white;
  background: blue;
       }
      .bruce{
 color: white;
       }
      .iva{
   color: white;
 
       }
      }

  }
 .accesohoy{

   }
  }
 .getstarted{
  background: linear-gradient(to right,#33FFE5,#33CFFF);
  height: 10%;
  width: 10%;
  border-radius: 10px;
  border: none,
  padding: 3px ;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  font-style: italic;

  }


/*fin de boddy*/

footer nav {
  background-color: black;
  height: 20%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

footer nav #address {
  background-color: black;
  width: 35%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 5px;
  padding: 5px;
}

footer nav #address div#logo2 {
  text-align: center;
}

footer nav #address div#address2 {
  background-color: black;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  color: white;
}

footer nav #address div#address2 img {
  height: 25px;
}

footer nav #contact {
  background-color: black;
  width: 17%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

footer nav #contact div {
  color: white;
}

footer nav #menu1 {
  width: 17%;
  background-color: black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 5px;
}

footer nav #menu1 a {
  color: white;
  text-decoration: none;
  margin: 3px;
}

footer nav #menu2 {
  background-color: black;
  width: 17%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 5px;
}

footer nav #menu2 a {
  color: white;
  text-decoration: none;
  margin: 3px;
}

footer nav #social {
  background-color: black;
  width: 15%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer nav #social div img {
  width: 40px;
  height: 40px;
}
/*# sourceMappingURL=style.css.map */


@media screen and (min-width: 375px) {
    

  
@media screen and (min-width: 1440px) {

  
  }
  @media (max-width:700px){
    footer nav{
        flex-direction:column;
    }
}